---
import MainLayout from '@layouts/MainLayout.astro';
import Navbar from '@components/Navbar.astro';
import Sidebar from '@components/Sidebar.astro';
import Player from '@components/Player.svelte';
import ResultsGrid from '@components/result/ResultsGrid.svelte';
import MainPlayer from '@components/MainPlayer.astro';
import QRscan from '@components/SettingsPanel/QRscan.astro';
// Get search query from URL parameters
const url = new URL(Astro.request.url);
const searchQuery = url.searchParams.get('q') || '';
---

<MainLayout title="Buscar - YouTube Music">
  <Navbar slot="header" />
  <Sidebar slot="sidebar" />
  
  <!-- Main Content -->
  <div class="p-4 md:p-6 pb-24">
    <ResultsGrid
        id="resultsGrid"
        client:only="svelte"
        on:videoSelected={(e:any) => console.log('Video:', e.detail)}
      />    
    </div>

    <!-- <QRscan  signalName='NEWURL'/>      --> 
<MainPlayer />


  
  <!-- Player at the bottom -->
  <Player client:only="svelte" />

</MainLayout>